head{
    float: left;
    width: 100%;
    margin: 0px;
}
body{
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #f4f4f4;
}
.main{
    float: left;
    width: 100%;
    margin: 0px;
}
.content{
    float: left;
    width: 100%;
}
.header{
    background-color: #f4f4f4;
    float: left;
    width: 100%;
}
.border_top{
    float: left;
    width: 100%;
    margin: 0px;
}
.border_top img{
    float: left;
    width: 100%;
    height: 20px;
}
.header_box{
    margin: 0 auto;
    width: 90%;
}
.logo{
    float: left;
    width: 50%;
    padding: 45px 0px;
}
.logo a{
    font-family: sans-serif;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}
.detail{
    float: right;
    width: 117px;
    margin: 10px 0px 20px 0px;
}
.login{
    float: left;
    width: 100%;
    padding: 0px 0px;
}
.login img{
    float: right;
    width: 141.271;
    height: 78px;
    padding-top: 25px;
    padding-right: 0px;
}
.login p{
    float: right;
    text-align: center;
    width: 50%;
    padding: 10px 0px;
}
.social_icon{
    float: left;
    width: 100%;
}
.social_icon{
    float: right;
    width: 100%;
    text-align: right;
}
.social_icon a img{
    width: 35px;
}
.menu_bar{
    width: 100%;
    float: left;
    height: 50px;
    background-color: #9E9E9E;
}
.menu_bar ul.menus{
    width: 85%;
    list-style-type: none;
    cursor: pointer;
    margin: 15px auto;
}
.menu_bar ul.menus li{
    float: left;
    color: white;
    padding: 0px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  
}
.menu_bar ul.menus li a{
    padding: 10px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 18px;
    font-family: sans-serif;
}
.menu_bar ul.menus li a:hover{
    color:#ffc000;
}
.menu_bar ul.menus li:hover{
    border-right: 1px solid #ffc000;
    border-left: 1px solid #ffc000;
    
}
ul.menus li ul{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin-left: -15px;
    height: 50px;
    display: none;
    float: left;
    width: 131px;
    margin-top: 15px;
}
.menus li ul li{
    background-color: #827d7d;
    margin: 0px 1px;
    width: 50px;
    min-height: 19px;
    text-align: center;
    list-style: none;
}
.menus li:hover ul{
    display: block;
}
.menus li ul li{
    float:none;
    width: 170px;
    margin: 1px 0;
}
/***********************header css end**********************/
/***********************body css start**********************/
.body_content{
    background-image: url("https://cdn.pixabay.com/photo/2017/04/06/20/17/workshop-2209239__480.jpg");
    background-size:100%;
    float: left;
    width: 100%;
}
.bottom_content{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.left_content_box{
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    width: 45%;
 }
 .left_content_box fieldset{
     background-color: #fff;
     padding-bottom: 0px;
 }
.left_info_text{
    float: left;
    width: 100%;
}
.left_info_text p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}
.right_content_box{
    padding-top: 50px;
    padding-bottom: 700px;
    float: right;
    width: 40%;
    }
.right_content_box fieldset{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 300px;
    width: 400px;
}
.right_info_text{
    float: right;
    width: 100%;
}
.right_info_text p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}

/*------------Quienes Somos-------------------*/
.left_content_box_qs{
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    width: 65%;
 }
 .left_content_box_qs fieldset{
     background-color: #fff;
     padding-bottom: 0px;
 }
.left_info_text_qs{
    float: left;
    width: 100%;
}
.left_info_text_qs p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}
.right_content_box_qs{
    padding-top: 80px;
    padding-bottom: 50px;
    float: right;
    width: 25%;
    }
.right_content_box_qs fieldset{
    background-color: #fff;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 175px;
    width: 250px;
}
.right_info_text_qs{
    float: right;
    width: 100%;
}
.right_info_text_qs p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}
/*------------Quienes Somos-------------------*/

button.read_more{
    width: 30%;
    padding: 15px 0px;
    margin: 20px 5px;
    background: #2196F3;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
button.read_more:hover{
    color: #fff;
    background: #4CAF50;
}

/******footer css start*******/
/*
footer{
    float: left;
    width: 100%;
    background: #9E9E9E;
}
.page_footer{
    float: left;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
}
.footer_text{
    color: #fff;
}
/*****footer css end**********/
/*******contact page css star***********/
.content{
    float: left;
    width: 100%;
}
.contact_page{
    margin: 0 auto;
    width: 80%;
    background: #8BC34A;
    padding: 20px;
}
/*******contact page css end************/