head{
    float: left;
    width: 100%;
    margin: 0px;
}
body{
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #f4f4f4;
}
.main{
    float: left;
    width: 100%;
    margin: 0px;
}
.content{
    float: left;
    width: 100%;
}
.header{
    background-color: #f4f4f4;
    float: left;
    width: 100%;
}
.border_top{
    float: left;
    width: 100%;
    margin: 0px;
}
.border_top img{
    float: left;
    width: 100%;
    height: 20px;
}
.header_box{
    margin: 0 auto;
    width: 90%;
}
.logo{
    float: left;
    width: 50%;
    padding: 45px 0px;
}
.logo a{
    font-family: sans-serif;
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}
.detail{
    float: right;
    width: 117px;
    margin: 10px 0px 20px 0px;
}
.login{
    float: left;
    width: 100%;
    padding: 0px 0px;
}
.login img{
    float: right;
    width: 141.271;
    height: 78px;
    padding-top: 25px;
    padding-right: 0px;
}
.login p{
    float: right;
    text-align: center;
    width: 50%;
    padding: 10px 0px;
}
.social_icon{
    float: left;
    width: 100%;
}
.social_icon{
    float: right;
    width: 100%;
    text-align: right;
}
.social_icon a img{
    width: 35px;
}
.menu_bar{
    width: 100%;
    float: left;
    height: 50px;
    background-color: #9E9E9E;
}
.menu_bar ul.menus{
    width: 85%;
    list-style-type: none;
    cursor: pointer;
    margin: 15px auto;
}
.menu_bar ul.menus li{
    float: left;
    color: white;
    padding: 0px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  
}
.menu_bar ul.menus li a{
    padding: 10px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 18px;
    font-family: sans-serif;
}
.menu_bar ul.menus li a:hover{
    color:#ffc000;
}
.menu_bar ul.menus li:hover{
    border-right: 1px solid #ffc000;
    border-left: 1px solid #ffc000;
    
}
ul.menus li ul{
    position: absolute;
    padding: 0px;
    list-style-type: none;
    margin-left: -15px;
    height: 50px;
    display: none;
    float: left;
    width: 131px;
    margin-top: 15px;
}
.menus li ul li{
    background-color: #827d7d;
    margin: 0px 1px;
    width: 50px;
    min-height: 19px;
    text-align: center;
    list-style: none;
}
.menus li:hover ul{
    display: block;
}
.menus li ul li{
    float:none;
    width: 170px;
    margin: 1px 0;
}
/***********************header css end**********************/
/***********************body css start**********************/
.body_content{
    background-image: url("https://cdn.pixabay.com/photo/2017/04/06/20/17/workshop-2209239__480.jpg");
    background-size:100%;
     padding-bottom: 128px;
    float: left;
    width: 100%;
}
.body_content_Niveles{
    background-image: url("https://cdn.pixabay.com/photo/2017/04/06/20/17/workshop-2209239__480.jpg");
    background-size:100%;
     padding-bottom: 55px;
    float: left;
    width: 100%;
}
.body_content_QS{
    background-image: url("https://cdn.pixabay.com/photo/2017/04/06/20/17/workshop-2209239__480.jpg");
    background-size:100%;
     padding-bottom: 143px;
    float: left;
    width: 100%;
}
.body_content_login{
    background-image: url("https://images8.alphacoders.com/718/718915.jpg");
    background-size:100%;
    padding-bottom: 182px;
    float: left;
    width: 100%;

}
.body_content_Alumno{
    background-image: url("https://img.freepik.com/foto-gratis/papel-pintado-pared-hormigon-pintado-textura-concepto-coloreado_53876-31799.jpg?size=626&ext=jpg");
    background-size:100%;
    padding-bottom: 68px;
    float: left;
    width: 100%;

}
.body_content_Profesor{
    background-image: url("http://fadermex.com/wp-content/uploads/2017/01/6a771a_blue_1920x1200.jpg");
    background-size:100%;
    padding-bottom: 285px;
    float: left;
    width: 100%;

}
.body_content_ProfesorCurso{
    background-image: url("http://fadermex.com/wp-content/uploads/2017/01/6a771a_blue_1920x1200.jpg");
    background-size:100%;
    padding-bottom: 87px;
    float: left;
    width: 100%;

}
.body_content_AdminCurso{
    background-image: url("https://st2.depositphotos.com/2009363/6705/i/950/depositphotos_67053115-stock-photo-background-for-vintage-style-cards.jpg");
    background-size:100%;
    padding-bottom: 87px;
    float: left;
    width: 100%;

}
.body_content_AdminRecibo{
    background-image: url("https://st2.depositphotos.com/2009363/6705/i/950/depositphotos_67053115-stock-photo-background-for-vintage-style-cards.jpg");
    background-size:100%;
    padding-bottom: 85px;
    float: left;
    width: 100%;

}
.body_content_Admin{
    background-image: url("https://st2.depositphotos.com/2009363/6705/i/950/depositphotos_67053115-stock-photo-background-for-vintage-style-cards.jpg");
    background-size:100%;
    padding-bottom: 52px;
    float: left;
    width: 100%;

}
.body_content_AdminAsignacion{
    background-image: url("https://st2.depositphotos.com/2009363/6705/i/950/depositphotos_67053115-stock-photo-background-for-vintage-style-cards.jpg");
    background-size:100%;
    padding-bottom: 45px;
    float: left;
    width: 100%;

}
.body_content_Form{
    background-image: url("https://static.wixstatic.com/media/00820c_b6f4317385194004b861738d6f8a4bd1.jpg");
    background-size:100%;
    padding-bottom: 70px;
    float: left;
    width: 100%;

}
.body_content_FormCurso{
    background-image: url("https://static.wixstatic.com/media/00820c_b6f4317385194004b861738d6f8a4bd1.jpg");
    background-size:100%;
    padding-bottom: 215px;
    float: left;
    width: 100%;

}
.body_content_FormProfesor{
    background-image: url("https://static.wixstatic.com/media/00820c_b6f4317385194004b861738d6f8a4bd1.jpg");
    background-size:100%;
    padding-bottom: 45px;
    float: left;
    width: 100%;

}
.body_content_ExitoUsuario{
    background-image: url("http://2.bp.blogspot.com/-bOmKFjUrna0/TsbbzjSDooI/AAAAAAAABuw/6D6G7XXw6QM/s1600/fondoAzulClaro.JPG");
    background-size:100%;
    padding-bottom: 400px;
    float: left;
    width: 100%;

}
.body_content_ExitoProfesor{
    background-image: url("http://2.bp.blogspot.com/-bOmKFjUrna0/TsbbzjSDooI/AAAAAAAABuw/6D6G7XXw6QM/s1600/fondoAzulClaro.JPG");
    background-size:100%;
    padding-bottom: 400px;
    float: left;
    width: 100%;

}
.body_content_ExitoCurso{
    background-image: url("http://2.bp.blogspot.com/-bOmKFjUrna0/TsbbzjSDooI/AAAAAAAABuw/6D6G7XXw6QM/s1600/fondoAzulClaro.JPG");
    background-size:100%;
    padding-bottom: 600px;
    float: left;
    width: 100%;

}
.bottom_content{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.left_content_box{
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    width: 45%;
 }
 .left_content_box fieldset{
     background-color: #fff;
     padding-bottom: 0px;
 }
.left_info_text{
    float: left;
    width: 100%;
}
.left_info_text p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}
.right_content_box{
    padding-top: 50px;
    padding-bottom: 50px;
    float: right;
    width: 40%;
    }
.right_content_box fieldset{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 300px;
    width: 400px;
}
.right_info_text{
    float: right;
    width: 100%;
}
.right_info_text p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}

/*------------Botones-------------------------*/
.editar_fila{
	border:0px;
	margin:3px;
	padding:0px;
	float: right;	/* Los botones de acci�n de cada libro aparecer�n en la parte derecha */

}


/*------------Quienes Somos-------------------*/
.left_content_box_qs{
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    width: 65%;
 }
 .left_content_box_qs fieldset{
     background-color: #fff;
     padding-bottom: 0px;
 }
.left_info_text_qs{
    float: left;
    width: 100%;
}
.left_info_text_qs p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}
.right_content_box_qs{
    padding-top: 80px;
    padding-bottom: 50px;
    float: right;
    width: 25%;
    }
.right_content_box_qs fieldset{
    background-color: #fff;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 175px;
    width: 250px;
}
.right_info_text_qs{
    float: right;
    width: 100%;
}
.right_info_text_qs p{
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 5px;
    line-height: 24px;
}



/*------------Quienes Somos-------------------*/

button.read_more{
    width: 30%;
    padding: 15px 0px;
    margin: 20px 5px;
    background: #9ACD32;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
button.read_more:hover{
    color: #fff;
    background: #4CAF50;
}

/******footer css start*******/
/*
footer{
    float: left;
    width: 100%;
    background: #9E9E9E;
}
.page_footer{
    float: left;
    width: 100%;
    text-align: center;
    padding: 0px 0px;
}
.footer_text{
    color: #fff;
}
/*****footer css end**********/
/*******contact page css star***********/
.content{
    float: left;
    width: 100%;
}
.contact_page{
    margin: 0 auto;
    width: 80%;
    background: #8BC34A;
    padding: 20px;
}
/*******contact page css end************/


/* Mensajes de Error */
div.error, div.excepcion {
	color: red;	
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
}


.boton_personalizado{
    text-decoration: none;
    padding: 1px;
    font-weight: 600;
    font-size: 10px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 1px solid #0016b0;
 }
 .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
 }
 
 .boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  .btn1 {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
  }
  .btn1:hover {
      background-color: #FF8C00;
      color: white;
  }
  /* Color Letras*/
 .heading {
 	 color: #00008B; }
